{
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-parameters",
    "transform-async-to-generator",
    "transform-runtime"
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "4.4.4"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}